:root {
    --primary-color:black;
    --secondary-color:blue;
    --teriory-color:gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: var(--secondary-color);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    &flex-column {
        flex-direction: column;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    max-height: 4rem;
    padding: 10px 10px 10px 10px;
    position: sticky;
    z-index: 999;
    top: 0;
    color: var(--teriory-color);
    background-color: whites;
    box-shadow: 1px 1px 1px 1px whitesmoke;
}

header img{
    height: 2rem;
    width: 2rem;
}

.intro img {
    height: 6rem;
} 

.sample {
    max-width: 40rem;
    height: 20rem;
    padding: 1rem;
    /* overflow: auto; */
    background: rgb(8,142,217);
    background: linear-gradient(0deg, rgba(8,142,217,1) 0%, rgba(101,248,249,1) 60%);
    z-index: 8;
}

.custom-card {
    width: 20rem;
}

.container img {
    width: 25rem;
    margin: 0 auto;
}

.container {
    gap: 5rem;
}

figure img {
    max-width: 50px;
    transition: all .3s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

figure:last-child img {
    max-width: 100px;
}
